NEXT_PUBLIC_SUPABASE_URL=https://czpgtoirckstijnweshp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_Qyjpn5qgeOHxouCQJfiqPg_z1VtJ78X

CLOUDFLARE_R2_ACCOUNT_ID=5916d3461c49aa2ee4cac2f2b81b4f75
CLOUDFLARE_R2_ACCESS_KEY_ID=b9958acf6c9032c2c89360028d8f658c
CLOUDFLARE_R2_SECRET_ACCESS_KEY=2080dce8d97b9169f4afd99542cd32dbdfea762c6c2285533e0197baa16365eb
CLOUDFLARE_R2_BUCKET_NAME=adaptive-learning-files
CLOUDFLARE_R2_ENDPOINT=https://5916d3461c49aa2ee4cac2f2b81b4f75.r2.cloudflarestorage.com
